@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  scroll-behavior: smooth;
}
 .container{
    position: relative;
    width: 100vw;
    top: 4.7vw;
    display: flex;
    flex-direction: column;

}

.title {
  margin: auto;
  width: 34.375vw;
  text-align: center;
}

.title > p {
  color: rgba(67, 49, 28, 0.9);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.2px;
  -webkit-text-stroke: 1.5px #faeab199;
}

.content-frame {
  margin: auto;
  width: 1200px;
}

.content-row {
  display: flex;
  justify-content: center;
}

.content-bg {
  width: 18vw;
  height: 12vw;
  flex-shrink: 0;
  border-radius:6vw;
  background: rgba(250, 234, 177, 0.65);
  margin: 20px 0px 0px 20px;
  position: relative;
}

.border-line {
  position: absolute;
  top: 4.5vw;
  left: 34vw;
  width: 31.25vw;
  height: 2px;
  background: rgba(67, 49, 28, 0.6);
}

.content-frame{
	    margin-bottom: 10vw;
	
}

.content-bg:hover {
  background: #e5ba73;
  box-shadow: 4px 4px 15px 5px #43311c48;
  transform: translateY(-0.25rem);
  transition: transform 0.1s ease-in-out;
}

.content-bg > img {
  position: absolute;
  left: 5vw;
  top: 1.5vw;
}

.content-bg>div {
  display: flex;
  width: 18.2vw;
  position: absolute;
  justify-content: center;
  top: 8vw;
  gap: 20px;
}

.content-bg>div > p {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size:  1.7vw;;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 0;
}

.content-bg>div > img {
  width: 1.5vw;
  height: 2.5vw;
  margin-top: 3px;
}
