@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "DM Sans", sans-serif;
	font-family: "Inter", sans-serif;
	font-family: "Kaisei Decol", serif;
	font-family: "Poppins", sans-serif;
	font-size: 10pt;
	scroll-behavior: smooth;
	text-align: center;
}

.container {
	width: 100vw;
	position: relative;
	top: 10vw;
	margin: auto;
}

main {
	padding-bottom: 15vw;
}

#DetailTbl {
	position: relative;
	border: 1.5px solid #43311ccc;
	width: 46.875vw;
	border-radius: 3vw;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	justify-content: center;
	align-items: center;
	padding: 5vw;
}

.statusWrap {
	position: absolute;
	top: 1vw;
}

.post-status {
	display: flex;
	justify-content: center;
}

.post-status>p {
	font-family: "DM Sans", sans-serif;
	font-size: 1vw;
	font-weight: 700;
	text-align: center;
	background: rgba(250, 234, 177, 0.8);
}

.post-title {
	color: rgba(67, 49, 28, 0.9);
	text-align: center;
	font-family: "DM Sans", sans-serif;
	font-size: 2vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.title-bottom {
	width: 240.098px;
	height: 0px;
	border: solid 5px rgba(67, 49, 28, 0.6);
}

.imgWrapper {
	position: relative;
	width: 20vw;
	height: 20vw;
}

.imgWrapper>img {
	width: 100%;
	height: 100%;
}

.post-txt {
	width: 46vw;
}

.post-txt>p {
	font-family: "Inter", sans-serif;
	font-size: 1vw;
}

.btnWrap{
	display:flex;
	    gap: 1vw;
}


.btnWrap>button{
	width: 5vw;
    height: 2vw;
    background: rgba(67, 49, 28, 0.90);
    color: white;
    border-radius: 0.5vw;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
}





