@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Kaisei Decol", serif;
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  scroll-behavior: smooth;
}

table {
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 9vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

/* top (타이틀, 모집중 모집완료 버튼, 검색창) */
.top {
  width: 100vw;
  position: relative;
}
.top-title {
  display: flex;
  width: 14.5vw;
  height: 7.8vw;
  border-radius: 386px;
  background: rgba(250, 234, 177, 0.3);
  margin: auto;
}

.top-title > img {
  width: 7.3vw;
  height: 6vw;
  flex-shrink: 0;
  position: relative;
  left: 0.5vw;
  top: 1vw;
}

.top-title > p {
  color: rgba(67, 49, 28, 0.9);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.2px;
  -webkit-text-stroke: 1.5px #faeab199;
}

.top-btn {
  text-align: center;
}

.top-btn > button {
  border-radius: 30vw;
  border: none;
  width: 6.8vw;
  height: 2.6vw;
  margin: 20px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Recruiting {
  background: rgba(250, 234, 177, 0.8);
  color: #000;
}
.Completed {
  background: #9e6f21;
  color: white;
}

.search {
  display: flex;
  margin: auto;
  border: solid 3px #faeab1;
  width: 53.541666666666664vw;
  height: 9.166666666666666vh;
  border-radius: 30vw;
}
.search > img {
  width: 1.7187500000000002vw;
  height: 3.4098148148148146vh;
  margin: 1.7vw;
  margin-left: 3vw;
}

.search > input {
  border: none;
  width: 46.875vw;
  border-radius: 30vw;
  color: #575656;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03vw;
  margin-left: 1.4vw;
}

.search > input::placeholder {
  color: #575656;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03vw;
  margin-left: 1.4vw;
}

input:focus {
  outline: none;
}

/* middle ( 게시판 포스트 항목 ) */
#middle {
  border-radius: 30px;
  border: 1px solid #c1c1c1;
}
.middle-post {
  display: flex;
  gap: 20px;
}

.td-wrapper {
  display: flex;
  gap: 2vw;
  flex-direction: column;
  position: relative;
  top: 1.7vw;
}

.post-left {
  width: 57vw;
  margin-left: 1vw;
}

.post-btn {
  display: flex;
  position: relative;
  gap: 0.5vw;
}
.post-btn-txt {
  border-radius: 30vw;
  border: none;
  width: 6.8vw;
  height: 2.6vw;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post-btn-txt > p {
  top: -0.5vw;
  left: 0.5vw;
  position: relative;
}

.bigTxt {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.smallTxt {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9vw;
  font-style: normal;
  line-height: normal;
}

.post-info {
  display: flex;
  gap: 1vw;
  align-items: center;
  font-size: 0.8vw;
}

.post-user {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.post-user > img {
  width: 2vw;
}

/*포스트 이미지*/
.post-img {
  border: solid 1px pink;
  width: 20.052083333333336vw;
  height: 27.12962962962963vh;
  border-radius: 30px;
}

/*bottom */
.bottom {
  text-align: center;
}
.btn{
	display:flex;
    margin-right: auto;
    margin-left: auto;
    gap:0.5vw;
}

.bottom >form> button {
  border: solid 4px #faeab1;
  border-radius: 2.8vw;
  width: 5vw;
  height: 1.8vw;
  background: none;
  color: #9e6f21;
  font-family: "DM Sans", sans-serif;
  font-size: 1vw;
  line-height: 50%;
  
}

.pagebox {
  width: 43.333px;
  height: 55px;
  flex-shrink: 0;
  border: 1px solid #e5e5e5;
}

.pagebox > img {
  width: 4.333px;
  height: 12.571px;
  flex-shrink: 0;
}