body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
}
.container {
  border: 2px solid blue;
}

.first-title {
  height: 20%;
  width: 100%;
  border: 2px solid red;
  text-align: center;
}
.second-title {
  border: 2px solid black;
}

.checklist-title {
  background-color: aqua;
}

.checklist-txt {
  background-color: antiquewhite;
}

.notice {
  border: 2px solid red;
}
.notice-title {
  background-color: yellow;
}
.notice-txt {
  background-color: yellowgreen;
}
