@charset "UTF-8";

.check3-container {
	padding-bottom: 6vw;
}

.top-container {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 27vh;
	padding-right: 28vw;
}

.mid-container {
	display: flex;
	justify-content: center;
	font-family: "DM Sans", sans-serif;
	font-family: "Inter", sans-serif;
	font-family: "Poppins", sans-serif;
}

.opdog-tit {
	color: rgba(142, 141, 148, 1);
	font-family: Inter;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.827px;
	padding-right: 8vw;
	margin-bottom: 0.4vw;
}

.opdog-baloon {
	background-color: rgba(158, 111, 33, 1);
	border-radius: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.opdog-arrow {
	position: absolute;
	border-top: 0.5vw solid rgba(158, 111, 33, 1);
	border-left: 0.5vw solid rgba(158, 111, 33, 1);
	border-right: 0.5vw solid transparent;
	border-bottom: 0.5vw solid transparent;
	top: 4vw;
	left: 1vw;
}

.opdog-txt {
	color: white;
	font-size: 1vw;
	font-weight: 400;
	letter-spacing: -0.4px;
	padding: 0.6vw;
}

.dog-img-cover {
	display: flex;
	justify-content: center;
}

.dog-img {
	width: 12vw;
}

.btn-cover {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.mypage-btn-kl {
	border: 1px solid rgba(0, 0, 0, 1);
	width: 8vw;
	height: 4vh;
	flex-shrink: 0;
	color: rgba(67, 49, 28, 0.9);
	background-color: white;
	margin-right: 1vh;
	margin-bottom: 5vh;
	font-size: 0.8vw;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	cursor: pointer;
}

.moreshopping-btn {
	width: 8vw;
	height: 4vh;
	flex-shrink: 0;
	color: white;
	background-color: rgba(67, 49, 28, 0.90);
	margin-left: 1vh;
	font-size: 0.8vw;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	border: none;
	cursor: pointer;
}