@charset "UTF-8";



.paypal-credit {
	display: flex;
	margin-top: 4.5vh;
	justify-content:space-evenly
}

.paypal-cover {
	border: 1px solid rgba(29, 77, 144, 1);
	background: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25vw;
	height: 5vh
}
.paypal-img{
	margin-top:1vh;
}
.credit-cover{
	background-color: rgba(67, 49, 28, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25vw;
}

.credit-card {
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.3px;
	font-size:12px;
	font-family: "DM Sans", sans-serif;
	color: rgba(255, 255, 255, 1);
}

select {
	width: 18vw;
	color: #B6B2B2;
	font-size: 12px;
	font-feature-settings: 'clig' off, 'liga' off;
	padding-left: 2vw;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 5.3vh;
	margin-right: 1vw;
	margin-top: 1vh;
}
.input-box2 {
	width: 56.2vw;
	height: 4vh;
	margin-top: 1vh;
	padding-top:2px;
	padding-bottom:2px;
}
.card-info {
	display: flex;
	margin-bottom: 3vh;
}
.input-cvc {
	width: 18vw;
	height: 4vh;
	padding: 2px;
	margin-top: 1vh;
}


.pay-btn{
	margin-top: 3vh;
}
