@charset "UTF-8";
.main {
  display: flex;
  justify-content: center;
}
.content {
  width: 31.874999999999996vw;
  height: 69.72222222222221vh;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid rgba(67, 49, 28, 0.3);
  text-align: center;
}
.full-name {
  display: flex;
  justify-content: center;
}

.input-name {
  width: 10.4vw;
  height: 3.5vh;
  margin-right: 0.5vw;
}
.input-box {
  width: 22vw;
  height: 3.5vh;
  margin-top: 0.5vw;
}
.continue-btn {
  width: 22vw;
  height: 4vh;
  border: 1px solid var(--main5, #9e6f21);
  background: var(--main5, #9e6f21);
  color: white;
}
