html, body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "DM Sans", sans-serif;
	font-family: "Inter", sans-serif;
	font-family: "Poppins", sans-serif;
	font-size: 10pt;
	cursor: pointer;
}
/* 메인 상단메뉴 속성!!! */
header {
	display: flex;
	z-index: 999;
	position: fixed;
	width: 100vw;
	text-align: center;
}

.main_header {
	display: flex;
	/* border-bottom: solid 1px rgb(255, 255, 255, 0.5); */
	height: 7vh;
	width: 100vw;
	padding: 1vw 8.3vw;
	gap: 15.104166666666666vw;
	/* justify-content: space-between; */
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
}

.header_logo {
	position: relative;
	display: flex;
	width: 10vw;
}

.header_logo>img {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 13vw;
}

.nav-var {
	display: flex;
	width: 34.3vw;
	justify-content: space-evenly;
	align-items: center;
	flex-shrink: 0;
}

.nav-items {
	justify-content: center;
	align-items: center;
	flex: 1 0 0;
	/* 메뉴 호버작업 */
	position: relative;
	display: inline-block;
}

.nav-text {
	color: rgb(247, 240, 216);
	text-align: center;
	font-size: 1vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.2px;
	text-decoration: none;
}

.home {
	color: #faeab1;
	text-align: center;
	font-size: 1vw;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.2px;
	text-decoration: none;
}

/*메뉴 텍스트 호버 작업*/
.nav-text:hover, .nav-text:focus {
	outline: none;
}

.nav-text {
	position: relative;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-items:hover .nav-text {
	color: rgb(247, 240, 216);
	text-shadow: none;
}

/* .nav-items:hover .nav-text::before {
  color: #682828;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
} */
.nav-items:hover .nav-text::after {
	content: "";
	position: absolute;
	left: 1vw;
	top: -0.6vh;
	width: 70%;
	height: 2px;
	background: rgb(250, 234, 177);
	/* background: #e5ba73; */
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.nav-items:hover .nav-text:hover:before, .nav-items:hover .nav-text:focus:before
	{
	opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.nav-items:hover .nav-text:hover:after, .nav-items:hover .nav-text:focus:after
	{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* --- */

/* 메뉴 호버 드롭 작업  */
.nav-subnav {
	display: none;
	position: absolute;
	background-color: rgb(250, 250, 250, 0.8);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 10px;
}

.nav-subnav a {
	color: #424242;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 10px;
}

.nav-subnav a:hover {
	background-color: rgb(250, 250, 250, 0.8);
}

.nav-items:hover .nav-subnav {
	display: block;
}

/* 회원가입 로그인 버튼 */
.header-r {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.reg-btn {
	width: 5.3125vw;
	height: 3.2407407407407405vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border-radius: 5px;
	border: 1px solid rgb(247, 240, 216);
	background-color: transparent;
}

.reg-btn:hover {
	box-shadow: 0 10px 35px rgba(250, 234, 177, 0.3), 0 6px 6px
		rgba(250, 234, 177, 0.3);
	cursor: pointer; /* 마우스 포인터를 올렸을 때 손가락으로 바뀜 */
	transition: box-shadow 0.1s linear;
	color: white;
	font-weight: 700;
	transition: 0.3s;
}

.reg-text {
	color: rgb(247, 240, 216);
	text-align: center;
	font-size: 0.85vw;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.46px;
	padding: 15px;
}

.reg-text:hover {
	color: rgb(247, 240, 216);
	font-weight: 700;
	transition: 0.3s;
}

.login-btn {
	width: 5.3125vw;
	height: 3.2407407407407405vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: none;
	border-radius: 5px;
	background: rgb(247, 240, 216);
}

.login-btn:hover {
	box-shadow: 0 10px 35px rgba(250, 234, 177, 0.3), 0 6px 6px
		rgba(250, 234, 177, 0.3);
	cursor: pointer; /* 마우스 포인터를 올렸을 때 손가락으로 바뀜 */
	transition: box-shadow 0.1s linear;
}

.login-text {
	color: #c58940;
	text-align: center;
	align-items: center;
	font-size: 0.85vw;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.46px;
	padding: 15px;
}

.login-text:hover {
	color: #c58940;
	font-weight: 700;
	transition: 0.3s;
}

/* 슬라이드 페이지 속성!! slide */
#fullpage {
	position: relative;
	top: 0px;
	z-index: 9;
	width: 100vw;
	height: 100vh;
}

.fullsection {
	width: 100vw;
	height: 100vh;
	position: relative;
	justify-content: center;
	align-items: center;
}
/* ---> 첫번째 슬라이드 속성 */
.full1 {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
}

#video_area {
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

#background_video {
	z-index: -1;
	width: 100vw;
	position: absolute;
}

/* 1219/685 is an aspect ratio of the video */
@media screen and (max-aspect-ratio: 1219/685) {
	#background_video {
		width: auto;
		height: 100%;
	}
}

.full1-txtFrame {
	position: relative;
	z-index: 998;
	top: 50vh;
	left: 33vw;
	width: 36.4vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 32px;
}

.full1-bigTxt {
	/* height: 16.759vh; */
	width: 36.4vw;
	color: rgb(247, 240, 216);
	font-family: "DM Sans", sans-serif;
	font-size: 5vw;
	font-style: normal;
	font-weight: 600;
	line-height: 5vw;
	letter-spacing: -1.92px;
}

.full1-smallTxt {
	width: 36.4vw;
	/* height: 7vh; */
	color: rgb(247, 240, 216);
	font-family: "Poppins", sans-serif;
	font-size: 0.85vw;
	font-style: normal;
	font-weight: 400;
	line-height: 2.25vh;
}
/* ---> 두번째 슬라이드 속성 */
.full2 {
	background: url(../img/dog-hug2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.full2::before {
	content: "";
	position: absolute;
	opacity: 0.4;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgb(250, 248, 241);
}

.full2-frame {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.full2-txtFrame {
	position: absolute;
	z-index: 998;
	top: 15vh;
	left: 32vw;
	width: 35.9375vw;
	height: 18vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0px;
}

.full2-bigTxt {
	width: 35.9375vw;
	height: 6.944444444444445vh;
	color: rgba(67, 49, 28, 0.9);
	font-family: "DM Sans", sans-serif;
	font-size: 1.875vw;
	font-style: normal;
	font-weight: 600;
	line-height: 5vw;
	letter-spacing: -0.72px;
	text-align: center;
}

.full2-smallTxt {
	width: 60vw;
	color: #000;
	font-family: "Poppins", sans-serif;
	font-size: 1.24rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.25vh;
	text-align: center;
}

.full2-btn {
	width: 10.104166666666666vw;
	height: 4.62962962962963vh;
	position: relative;
	top: 12px;
	border: solid 0.1vw rgba(67, 49, 28, 0.9);
	border-radius: 30px;
	background: none;
	/*글씨*/
	color: rgba(67, 49, 28, 0.9);
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 1.25vw;
	font-style: normal;
	font-weight: 600;
	line-height: 2.037037037037037vh;
	letter-spacing: -0.4px;
}

/*--Roll---*/
.styling-tv {
	width: 100%;
	height: 63.888888888888886vh;
	overflow: hidden;
	position: absolute;
	top: 37%;
}

.animation-list {
	float: left;
	width: 8400px;
}

.img-list {
	flex-direction: row;
	width: 4200px;
	float: left;
}

.styling-tv .img-box {
	padding: 0px 10px 0px 10px;
	width: 400px;
	height: 55.55555555555556vh;
	float: left;
}

.animation {
	animation-name: infinite_slide;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes infinite_slide { 0% {
	transform: translateX(0%);
	}100%
	{transform:translateX(-50%);
	}
}

/*-----*/
.wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.full2-imgSlide {
	position: absolute;
	top: 37%;
	display: flex;
}

.img-wrap {
	overflow: hidden;
	position: relative;
	background-color: rgba(250, 248, 241, 0.8);
	width: 400px;
	height: 48vh;
	border-radius: 76px;
	/* margin-left: 20px; */
}

.slide-img {
	position: absolute;
	left: 20px;
	top: 40px;
}

.img-wrap img {
	width: 357px;
	height: 31.48148148148148vh;
	object-fit: cover;
	border-radius: 76px;
}

.txt-box {
	width: 400px;
	height: 20vh;
	position: absolute;
	top: 37.96296296296296vh;
}

.img-name {
	color: rgb(174 34 34);
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size:2vw;
    font-weight: 700;
    letter-spacing: 0.20000000298023224px;
    line-height: 30px;
}

.img-name >span{
 color: rgba(67, 49, 28, 0.9);
    font-size: 1.6vw;
}

.img-info {
	color: rgba(67, 49, 28, 0.9);
	width: 400px;
	position: absolute;
	left: 0px;
	top: 50px;
	font-family: "Inter", sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.20000000298023224px;
}

/* ---> 세번째 슬라이드 속성 */
.full3 {
	background: url(../img/f3Dogs.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.full3::before {
	content: "";
	position: absolute;
	opacity: 0.6;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #544c3e;
}

.full3-bigTxt {
	position: relative;
	z-index: 998;
	top: 25vh;
	left: 5vw;
	width: 73vw;
	color: rgb(247, 240, 216);
	font-family: "DM Sans", sans-serif;
	font-size: 5vw;
	font-style: normal;
	font-weight: 600;
	line-height: 5vw;
	letter-spacing: -1.92px;
}

.count {
	position: relative;
	z-index: 998;
	top: 30vh;
	left: 12vw;
	width: 30.4vw;
	color: rgb(247, 240, 216);
	font-family: "Poppins", sans-serif;
	font-size: 7vw;
	font-style: normal;
	font-weight: 700;
	line-height: 2.25vh;
}

.full3-smallTxt {
	position: relative;
	z-index: 998;
	top: 30vh;
	left: 31vw;
	width: 7.8125vw;
	color: rgb(247, 240, 216);
	font-family: "Poppins", sans-serif;
	font-size: 2vw;
	font-style: normal;
	font-weight: 400;
	line-height: 2.25vh;
}
/* ---> 네번째 슬라이드 속성 */
.full4 {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
}

#video_area {
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

#background_video {
	z-index: -1;
	width: 100vw;
	position: absolute;
}

/* 1219/685 is an aspect ratio of the video */
@media screen and (max-aspect-ratio: 1219/685) {
	#background_video {
		width: auto;
		height: 100%;
	}
}

.full4-txtFrame {
	position: relative;
	z-index: 998;
	top: 80vh;
	left: 33vw;
	width: 36.4vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.full4-bigTxt {
	/* height: 16.759vh; */
	width: 36.4vw;
	color: rgb(247, 240, 216);
	font-family: "DM Sans", sans-serif;
	font-size: 3vw;
	font-style: normal;
	font-weight: 600;
	line-height: 5vw;
	text-align: center;
}

.full4-smallTxt {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full4-smallTxt>div {
	text-align: center;
	/* width: 6vw; */
	margin: 0 10px 0 10px;
}

.full4-smallTxt>div>a {
	text-decoration: none;
	color: rgb(247, 240, 216);
	font-size: 0.9vw;
	border-bottom: solid 2px rgb(247, 240, 216);
}

/* 풀페이지 오른쪽에 동그란거 선택하면 페이지 넘어가게해주는거 */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.quick {
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100000;
}

.quick li {
	width: 10px;
	height: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	border: 2px solid #fff;
	cursor: pointer;
}

.quick .on {
	background: #fff;
}

/* 반응형 모바일버전 */
.navbar_toogleBtn {
	position: absolute;
	right: 20px;
	top: 15px;
	display: none;
}

 .header_logo2{
	width:13vw;
	position: absolute;
    top: 1vw;
    display: none;
} 

@media screen and (max-width: 768px) {
	.main_header {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
		height: 5vw;
		gap: 0vw;
		background: none;
	}
	.header_logo {
		height: 5vw;
		display:none;
	}
	.nav-var {
		flex-direction: column;
		align-items: center;
		width: 100%;
		display: none;
	}
	.nav-items {
		width: 100%;
		margin: 1vw;
	}
	.nav-items>a>span {
		font-size: 2vw;
		position: relative;
		z-index: 2;
	}
	.nav-items:hover .nav-text::after {
		content: "";
		position: absolute;
		left: 1vw;
		top: -0.6vh;
		width: 100%;
		height: 4.7vw;
		background: rgba(67, 49, 28, 0.9);
		z-index: 1;
		/* background: #e5ba73; */
		opacity: 0;
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		transform: translateY(5px);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		-moz-transition: -moz-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		pointer-events: none;
	}
	.nav-items:hover .nav-text:hover:before, .nav-items:hover .nav-text:focus:before
		{
		opacity: 0;
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	.nav-items:hover .nav-text:hover:after, .nav-items:hover .nav-text:focus:after
		{
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	.header-r {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;
		top: -1vw;
		display: none;
	}
	.reg-btn, .login-btn {
		width: 15vw;
	}
	.reg-text, .login-text {
		font-size: 2vw;
	}
	.full1-txtFrame {
		top: 60vh;
    left: 25vw;
    width: 70vw;
    gap: 2vw;
	}
	.full1-smallTxt {
		width: 60vw;
		font-size: 0.9rem;
	}
	.full1-bigTxt {
		width: 60vw;
		line-height: 7vw;
		letter-spacing: -1px;
		font-size: 7vw;
	}
	.full3-bigTxt {
		top: 40vh;
	}
	.count {
		top: 43vh;
	}
	.full3-smallTxt {
		top: 42vh;
	}
	.navbar_toogleBtn {
		display: block;
	}
	.nav-var.active, .header-r.active {
	   display: flex;
       margin-top: 6vw;
       gap: 1vw;
	}
	.main_header.active {
		background: #ffffff1a;
		z-index: 0;
		    height: auto;
	}
	.nav-subnav {
		width: 100%;
		background-color: rgb(250, 250, 250);
		z-index: 999;
	}
	.nav-subnav a:hover {
		background-color: rgba(147, 147, 147, 0.185);
	}
	.header-r-wrap {
		width: 100%;
	}
	
	.header_logo2{
	display:block;
	}
		.full4-bigTxt {
       font-size: 5vw;
	}
	
	.full4-smallTxt>div>a {
	font-size: 2vw;
	}
	
	.full4-smallTxt {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    gap: 1vw;
	}
	
	#background_video{
	position:relative;
	left:-450px;
	}
}