@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "DM Sans", sans-serif;
	font-family: "Inter", sans-serif;
	font-family: "Poppins", sans-serif;
	font-size: 10pt;
	scroll-behavior: smooth;
}

.myPageContainer {
	width: 100vw;
	height: 95vh;
	position: relative;
	padding-top: 7vh;
}

.totalPage {
	width: 69.21875vw;
	height: 87.68518518518519vh;
	display: flex;
	margin: 3vh 0vw 0vh 0vw;
	flex-wrap: wrap;
	border-radius: 40px;
	background-color: #F5F5F5;
}

.infoTag {
	width: 11.927083333333334vw;
	height: 5.277777777777778vh;
	margin: 6.203703703703703vh 54.947916666666664vw 76.66666666666667vh
		2.34375vw;
	position: absolute;
	display: flex;
}

.tagImg {
	width: 2.9166666666666665vw;
	height: 5.277777777777778vh;
}

.tagText {
	width: 8.854166666666668vw;
	height: 5.277777777777778vh;
	display: flex;
	flex-direction: column;
	gap: 0.3vw;
}

.tagText-name {
	width: 6.510416666666667vw;
	color: #333;
	font-family: "Poppins", sans-serif;
	font-size: 0.7vw;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 0.18px;
}

.tagText-op {
	width: 6.510416666666667vw;
	color: var(- -Secondary-crypto, #333);
	font-family: Poppins;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.11px;
}

.buttonBox {
	width: 13.854166666666668vw;
	margin: 14.25925925925926vh 1.40625vw;
	gap: 0.05vh;
	display: flex;
	flex-direction: column;
}

.button {
	width: 100%;
	height: 4.444444444444445vh;
	border-radius: 50px;
	background: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.button:hover {
	background: rgba(67, 49, 28, 0.1);
}

.buttonText {
	color: rgba(67, 49, 28, 0.90);
	font-family: Poppins;
	font-size: 1.3888888888888888vh;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.15px;
	position: relative;
	margin-left: 1.0416666666666665vw;
	margin-bottom: 0.2vw;
}

.buttonImg {
	width: 1.0416666666666665vw;
	position: relative;
	margin-left: 2.65625vw;
}

.totalInnerPage {
	width: 51.24999999999999vw;
	height: 84.35185185185186vh;
	position: absolute;
	margin: 1.574074074074074vh 1.5104166666666667vw 1.7592592592592593vh
		16.458333333333332vw;
	background-color: white;
	border-radius: 30px;
}

.innerPage {
	width: 51.24999999999999vw;
	height: 84.35185185185186vh;
}

.p1 {
	display: block;
}

.p2 {
	display: none;
}

.p3 {
	display: none;
}

/*MY INFO*/
.p4 {
	display: none;
}

.p1Inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 1.6vw;
	margin: 0.5vw 0;
	padding: 0;
	font-weight: 800;
}

.itemBoxP1 {
	gap: 1.6666666666666667vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.columnBoxP1 {
	width: 22.34375vw;
	height: 5.555555555555555vh;
	border-radius: 30px;
	background: rgba(217, 217, 217, 0.30);
	display: flex;
}

.columnBoxP2 {
	width: 22.34375vw;
	height: 5.555555555555555vh;
	border-radius: 30px;
	background: #FAEAB159;
	display: flex;
}

.yellowBox {
	width: 13vw;
	height: 2vw;
	border: none;
	margin-left: 1vw;
	color: #000;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: Poppins;
	font-size: 1.2vw;
	font-style: normal;
	font-weight: 275;
	line-height: normal;
	letter-spacing: 0.05vh;
	background: none;
}

.columnP1 {
	align-self: center;
	width: 5vw;
	margin-left: 1.2vw;
	color: #000;
	text-align: center;
	font-family: Poppins;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 275;
	line-height: normal;
	letter-spacing: 0.05vh;
	display: flex;
	justify-content: center;
}

.textP1 {
	width: 15.156249999999998vw;
	height: 4.074074074074074vh;
	position: absolute;
	margin: 0.7407407407407408vh 0.625vw 0.7407407407407408vh 6.5625vw;
	border-radius: 30px;
	background: #FFF;
	color: #000;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: Poppins;
	font-size: 1.2vw;
	font-style: normal;
	font-weight: 275;
	line-height: normal;
	letter-spacing: 0.05vh;
}

.updateButton {
	border-radius: 20px;
	border: 1px solid rgba(67, 49, 28, 0.90);
	width: 8.25vw;
	height: 3.3333333333333335vh;
	background-color: white;
	color: rgba(67, 49, 28, 0.90);
	font-family: Poppins;
	font-size: 1vw;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 0.05vh;
	margin-top: 3vh;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.7vw;
}

.selectBox-wrap {
	width: 22.34375vw;
	height: 5.555555555555555vh;
	display: flex;
	background: #FAEAB159;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	gap: 1vw;
}

.selectBox {
	width: 9vw;
	height: 2.5vw;
	border-radius: 30px;
	background: white;
	border: none;
}

.notice {
	font-size: 0.8vw;
	color: #6f0202;
	font-style: "Inter", sans-serif;
}

.changeBtn {
	border-radius: 20px;
	border: 1px solid rgba(67, 49, 28, 0.90);
	width: 8.25vw;
	height: 3.3333333333333335vh;
	background-color: white;
	color: rgba(67, 49, 28, 0.90);
	font-family: Poppins;
	font-size: 1vw;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 0.05vh;
}

/* 라이크독 css */
.like-wrapper {
	height: 90%;
	margin: 4%;
	padding: 2% 2%;
	position: relative;
	background-color: #F8F8F8;
	border-radius: 2%;
}

.like-title {
	font-size: 2vw;
	font-family: "Poppins", sans-serif;
	color: rgba(67, 49, 28, 0.90);
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.23px;
	    position: relative;
    top: 2vw;
}

.foreach-size {
	display: flex;
    margin-top: 6vw;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.likecontent-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    padding-bottom: 1vw;
    background: rgb(67 49 28 / 6%);
    flex-direction: column;
}

.likecontent-wrapper>img {
	width: 10vw;
	height: 10vw;
	border-radius: 0.3vw;
}

.likecontent{
		width: 10vw;

}

.likecontent>div{
    display: flex;
    width: 10vw;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 0.7vw;
    letter-spacing: 0.03vw;
}

.likecontent>div>p{
	color:#6a0101;

}

.btn-wrapper{
	display: flex;
	gap: 0.6vw;
}

.like-btn {
	height: 1.2vw;
    margin-top: 0.6vw;
    border: none;
    border-radius: 0.4vw;
    font-size: 0.6vw;
    font-weight: 700;
    color: white;
    background: #643f14;
    width: 3vw;
}

.like-btn:hover {
	background: #FAEAB182;
	color: #643f14;
}
/* volunteer css */
.vol-wrapper {
	height: 90%;
	margin: 4%;
	padding: 2% 2%;
	position: relative;
	background-color: #F8F8F8;
	border-radius: 2%;
}

.vol-table {
	position: relative;
	top: 3%;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.vol-title {
	font-size: 2vw;
	font-family: "Poppins", sans-serif;
	color: rgba(67, 49, 28, 0.90);
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.23px;
}

.vol-semititle {
	position: relative;
	height: 3vw;
	border-radius: 10px;
	background: rgba(47, 128, 237, 0.10);
}

.vol-btn {
	border-radius: 10px;
	height: 3vh;
	width: 3.3vw;
	border: 1px solid #000;
}

.vol-btn>span {
	font-size: 0.8vw;
	font-family: Poppins;
}

.cancle {
	position: relative;
	right: 0.2vw;
}

.vol-th, .vol-td {
	padding: 1%;
	border-top: 1px solid black;
}

/* point 부분 */
.point-wrapper {
	height: 90%;
	margin: 4%;
	padding: 2% 2%;
	position: relative;
	background-color: #F8F8F8;
	border-radius: 2%;
}

.point-title {
	font-size: 2vw;
	font-family: "Poppins", sans-serif;
	color: rgba(67, 49, 28, 0.90);
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.23px;
}
/*현재포인트 애니메이트*/
.pointMoveWrap {
	width: 41.354166666666664vw;
	height: 3.1vw;
	position: relative;
	top: 1vw;
	border-radius: 30px;
	background: rgba(224, 223, 219, 0.40);
}

.pointMove {
	position: absolute;
	left: 0;
	width: 27.864583333333332vw;
	height: 3.1vw;
	border-radius: 30px;
	background: #FAEAB1;
	display: flex;
	justify-content: end;
	align-items: center;
	animation: Move 2s;
}

@keyframes Move {
	from {width: 0vw
	}
to {
	width: 27.864583333333332vw;
}

}
.nowPoint {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgba(67, 49, 28, 0.90);
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 1.2vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.2px;
	margin-right: 1vw;
	font-family: "Poppins", sans-serif;
}

/*서치라인*/
.search-wrap {
	width: 45vw;
	height: 3vw;
	border-radius: 80px;
	background: rgba(47, 128, 237, 0.05);
	position: relative;
	top: 2vw;
}

.searchIcon {
	width: 1vw;
	position: absolute;
	left: 1vw;
	top: 1vw;
	z-index: 2;
}

.search-content {
	position: absolute;
	top: 0.6vw;
	left: 0.5vw;
	display: flex;
	width: 18.020833333333332vw;
	padding: 0.6vw 0.6vw 0.6vw 1.2vw;
	align-items: center;
	border-radius: 100px;
	background: #FFF;
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
	border: none;
}

.dateRadio1 {
	width: 10vw;
	font-size: 0.6vw;
	right: 2vw;
	top: 0.9vw;
	position: absolute;
	display: flex;
	gap: 0.1vw;
}

.dateRadio1>label, .dateRadio2>label {
	font-size: 0.6vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dateRadio2 {
	width: 10vw;
	font-size: 0.6vw;
	right: -3vw;
	top: 0.9vw;
	position: absolute;
	display: flex;
	gap: 0.1vw;
}

[type="radio"] {
	vertical-align: middle;
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1vw;
	height: 1vw;
	transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
	border: 0.3vw solid #FFCE1E;
}

[type="radio"]:focus-visible {
	outline-offset: max(2px, 0.1em);
	outline: max(2px, 0.1em) dotted #FFCE1E;
}

[type="radio"]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
	cursor: pointer;
}

/*포인트 리스트*/
.point-table {
	position: relative;
	top: 4vw;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.point-semititle {
	position: relative;
	height: 3vw;
	border-radius: 10px;
	background: rgba(47, 128, 237, 0.10);
}

.point-th, .point-td {
	padding: 1%;
	border-top: 1px solid black;
}

.history {
	width: 25vw;
}

.date, .point {
	width: 10vw;

}

/* 모달.. */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.columnP1css{
	text-align: left;
    width: 14vw;
    font-size: 1vw;
    position: relative;
    overflow: hidden;
}

