@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "DM Sans", sans-serif;
	font-family: "Inter", sans-serif;
	font-family: "Poppins", sans-serif;
	font-size: 10pt;
	scroll-behavior: smooth;
}

.myPageContainer {
	width: 100vw;
	height: 95vh;
	position: relative;
	padding-top: 7vh;
}

.totalPage {
	width: 69.21875vw;
	height: 87.68518518518519vh;
	display: flex;
	margin: 3vh 0vw 0vh 0vw;
	flex-wrap: wrap;
	border-radius: 40px;
	background-color: #F5F5F5;
}

.infoTag {
	width: 11.927083333333334vw;
	height: 5.277777777777778vh;
	margin: 6.203703703703703vh 54.947916666666664vw 76.66666666666667vh
		2.34375vw;
	position: absolute;
	display: flex;
}

.tagImg {
	width: 2.9166666666666665vw;
	height: 5.277777777777778vh;
}

.tagText {
	width: 8.854166666666668vw;
	height: 5.277777777777778vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tagText-name {
	width: 6.510416666666667vw;
	color: var(- -Secondary-crypto, #333);
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 0.18px;
}

.tagText-op {
	width: 6.510416666666667vw;
	color: var(- -Secondary-crypto, #333);
	font-family: Poppins;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.11px;
}

.buttonBox {
	width: 13.854166666666668vw;
	margin: 14.25925925925926vh 1.40625vw;
	gap: 0.05vh;
	display: flex;
	flex-direction: column;
}

.button {
	width: 100%;
	height: 4.444444444444445vh;
	border-radius: 50px;
	background: none;
	display: flex;
	align-items: center;
}

.button:hover {
	background: rgba(67, 49, 28, 0.1);
}

.buttonText {
	color: rgba(67, 49, 28, 0.90);
	font-family: Poppins;
	font-size: 1.3888888888888888vh;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.15px;
	position: relative;
	margin-left: 1.0416666666666665vw;
	margin-bottom: 0.2vw;
}

.buttonImg {
	width: 1.0416666666666665vw;
	position: relative;
	margin-left: 2.65625vw;
}

.totalInnerPage {
	width: 51.24999999999999vw;
	height: 84.35185185185186vh;
	position: absolute;
	margin: 1.574074074074074vh 1.5104166666666667vw 1.7592592592592593vh
		16.458333333333332vw;
	background-color: white;
	border-radius: 30px;
}

.innerPage {
	width: 51.24999999999999vw;
	height: 84.35185185185186vh;
}

.p1 {
	display: block;
}

.p2 {
	display: none;
}

.p3 {
	display: none;
}

.p1Inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 1.6vw;
	margin: 0.5vw 0;
	padding: 0;
	font-weight: 800;
}

.itemBoxP1 {
	gap: 1.6666666666666667vh;
	display: flex;
	flex-direction: column;
}

.columnBoxP1 {
	width: 22.34375vw;
	height: 5.555555555555555vh;
	border-radius: 30px;
	background: rgba(217, 217, 217, 0.30);
	display: flex;
}

.columnBoxP2 {
	width: 22.34375vw;
	height: 5.555555555555555vh;
	border-radius: 30px;
	background: #FAEAB159;
	display: flex;
}

.password {
	width: 13vw;
	height: 2vw;
	border: none;
	margin-left: 1vw;
}

.columnP1 {
	align-self: center;
	width: 5vw;
	margin-left: 1.2vw;
	color: #000;
	text-align: center;
	font-family: Poppins;
	font-size: 0.8vw;
	font-style: normal;
	font-weight: 275;
	line-height: normal;
	letter-spacing: 0.05vh;
	display: flex;
	justify-content: center;
}

.textP1 {
	width: 15.156249999999998vw;
	height: 4.074074074074074vh;
	position: absolute;
	margin: 0.7407407407407408vh 0.625vw 0.7407407407407408vh 6.5625vw;
	border-radius: 30px;
	background: #FFF;
	color: #000;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: Poppins;
	font-size: 1.2vw;
	font-style: normal;
	font-weight: 275;
	line-height: normal;
	letter-spacing: 0.05vh;
}

.updateButton {
	border-radius: 20px;
	border: 1px solid rgba(67, 49, 28, 0.90);
	width: 6.25vw;
	height: 3.3333333333333335vh;
	background-color: white;
	color: rgba(67, 49, 28, 0.90);
	font-family: Poppins;
	font-size: 1vw;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: 0.05vh;
	margin-top: 3vh;
}

/* volunteer 부분 css 입니다~ 도죠 요로시쿠 오네가이시마스-!  */
.vol-wrapper {
	height: 90%;
	margin: 4%;
	padding: 2% 2%;
	position: relative;
	background-color: #F8F8F8;
	border-radius: 2%;
}

.vol-table {
	position: relative;
	top: 3%;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.vol-title {
	font-size: 2vw;
	margin-top: 2%;
}

.vol-semititle {
	position: relative;
}

.vol-btn {
	border-radius: 45%;
	height: 3vh;
	width: 3vw;
}

.vol-th, .vol-td {
	padding: 1%;
	border-top: 1px solid black;
}