@charset "UTF-8";

#btnWrap {
	width: 500px;
	margin: 100px auto;
}

#popupBtn {
	width: 150px;
	height: 50px;
	padding: 10px 5px;
}

#modalWrap {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	display: none;
}

#modalBody {
	width: 60vw;
	height: 35vw;
	padding: 1vw 1vw;
	margin: 9vw auto;
	background-color: #fff;
	border: 1px solid #777;
}

.modalWrap {
	margin: 4vw 2vw;
	display: flex;
	height: 20vw;
}

.modalImg {
	width: 30vw;
	height: 22vw;
}

.modalImg>img {
	border-radius: 2vw;
	height: 100%;
	object-fit: cover;
}

.modalInfoWrap {
	width: 45vw;
	font-size: 1.2vw;
	font-family: "Poppins", sans-serif;
}

.modalInfoWrap>div {
	display: flex;
}

.modalInfoWrap>div>p {
	color: #6f0401;
	margin: 0 1vw;
}

.Shelter, .agency{
	flex-direction: column;
}

#closeBtn {
	float: right;
	font-weight: bold;
	color: #777;
	font-size: 25px;
	cursor: pointer;
}