@charset "UTF-8";

*{
	cursor: pointer;
}

#btnWrap {
	width: 500px;
	margin: 100px auto;
}

#popupBtn {
	width: 150px;
	height: 50px;
	padding: 10px 5px;
}

#modalWrap {
	position: fixed; /* Stay in place */
	z-index: 9; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	display: none;
}

#modalBody {
	width: 50vw;
	height: 40vw;
	padding: 1vw 1vw;
	margin: 2vw auto;
	background-color: #fff;
	border: 1px solid #777;
	border-radius: 1vw;
}

.modalWrap {
	margin: 4vw 2vw;
	display: flex;
}

.modalImg {
	margin: 4vw 0;
    width: 26vw;
    height: 23vw;

}

.modalImg>img {
	border-radius: 2vw;
	height: 100%;
	object-fit: cover;
	width: 100% !important;
}

.modalInfoWrap {
	width: 45vw;
	font-size: 0.9vw;
	font-family: "Poppins", sans-serif;
}

.modalInfoWrap>div {
	display: flex;
}

.modalInfoWrap>div>p {
	color: #6f0401;
	margin: 0 1vw;
	font-size: 0.9vw;
	font-weight: 600;
}

.modal-list {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Shelter, .agency {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spandesign {
	border: 0.2vw solid rgba(0, 0, 0, 0.09);
	background: #FFF;
	height: 1.5vw;
	width: 25vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2.2vw;
}

.spandesign2 {
	border: 0.2vw solid rgba(0, 0, 0, 0.09);
	background: #FFF;
	height: 2.5vw;
	width: 25vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2.2vw;
}

.viewMap>button {
	width: 3.1vw;
	font-size: 0.5vw;
	border: none;
	border-radius: 3vw;
	background: #FAEAB180;
	color: #43311CE5;
}

.viewMap>button:hover {
	box-shadow: 1px 1px 10px 1px #d1bc99;
}

.mainLikebtn {
	width: 12vw;
    height: 2vw;
    margin-top: 1.2vw;
    margin-left: 8.5vw;
    gap: 0.5vw;
}

.likebtn{
	width: 12vw;
	height: 2vw;
	margin-top: 0.6vw;
	gap: 0.5vw;
}

.likebtn>button, .mainLikebtn>button {
	border: none;
	border-radius: 0.4vw;
	font-size: 1.2vw;
	font-weight: 700;
	color: white;
	background: #643f14;
	width: 6vw;
}

.likebtn>button:hover, .mainLikebtn>button:hover {
	background: #FAEAB182;
	color: #643f14;
}

#closeBtn {
	float: right;
	font-weight: bold;
	color: #777;
	font-size: 25px;
	cursor: pointer;
}

/*아래는 후원 모달*/
#pointWrap {
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	display: none;
}

#givePoint{
	width: 15vw;
	height: 8vw;
	padding: 1vw 1vw;
	margin: 17vw auto;
	background-color: #fff;
	border: 1px solid #777;
	border-radius: 1vw;
}