.containar1-2{
	width: 100vw;
	background: #FFF;
	height:100%;

}

.map{
	left:6.822916666666667vw;
	top:  13.88888888888889vh;
	width: 33.90625vw;
	height: 79.44444444444444vh;
	position: fixed;
	border-radius: 10px;	
}

.infobox-wrap1-2 {
 position: absolute;

 left: 43.90625vw;
 top:13.88888888888889vh;
 width: 49.21875vw;
 height: 79.44444444444444vh;
 overflow-x: scroll;
 border-radius: 10px;
 background: #FAF8F1;
}
.centerinfo-print-wrap1-2{
	display: flex;
}
.centerimg1-2{
	border-radius: 10px;
}
.center-addr-wrap1-2{
	display:flex;
}
.center-oprtime-wrap1-2{
	display:flex;
}

/* .title-wrap {
  display: flex;
}


.title_hw {
  text-align: left;
  
}

.printinfo {
  left: 0;
  position: fixed;
  top: 81vh;
  width: 50vw;
}

.box-title {
  display: flex;
}
.small-title {
  
  text-align: left;
}
.overlaybox {
  position: relative;
  width: 360px;
  height: 350px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat;
  padding: 15px 10px;
}

.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.overlaybox li {
  list-style: none;
}
.overlaybox .boxtitle {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
.overlaybox .first {
  position: relative;
  width: 247px;
  height: 136px;
  margin-bottom: 8px;
}
.first .text {
  color: #fff;
  font-weight: bold;
}
.first .triangle {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png")
    no-repeat;
  padding: 6px;
  font-size: 18px;
}
.first .movietitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 7px 15px;
  font-size: 14px;
}
.overlaybox ul {
  width: 247px;
}
.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  background: #2b2d36;
  padding: 5px 10px;
  color: #aaabaf;
  line-height: 1;
}
.overlaybox li span {
  display: inline-block;
}
.overlaybox li .number {
  font-size: 16px;
  font-weight: bold;
}
.overlaybox li .title {
  font-size: 13px;
}
.overlaybox ul .arrow {
  position: absolute;
  margin-top: 8px;
  right: 25px;
  width: 5px;
  height: 3px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/updown.png")
    no-repeat;
}
.overlaybox li .up {
  background-position: 0 -40px;
}
.overlaybox li .down {
  background-position: 0 -60px;
}
.overlaybox li .count {
  position: absolute;
  margin-top: 5px;
  right: 15px;
  font-size: 10px;
}
.overlaybox li:hover {
  color: #fff;
  background: #d24545;
}
.overlaybox li:hover .up {
  background-position: 0 0px;
}
.overlaybox li:hover .down {
  background-position: 0 -20px;
} */