<?xml version="1.0" encoding="UTF-8"?>
<_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:_1="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <_1:servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>FashionC</javaee:display-name>
    <_1:servlet-name>FashionC</_1:servlet-name>
    <_1:servlet-class>com.opdogkl.shop.fashion.FashionC</_1:servlet-class>
  </_1:servlet>
  <_1:servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>FashionPageC</javaee:display-name>
    <_1:servlet-name>FashionPageC</_1:servlet-name>
    <_1:servlet-class>com.opdogkl.shop.fashion.FashionPageC</_1:servlet-class>
  </_1:servlet>
  <_1:servlet-mapping>
    <_1:servlet-name>FashionPageC</_1:servlet-name>
    <_1:url-pattern>/FashionPageC</_1:url-pattern>
  </_1:servlet-mapping>
</_1:web-app>